<div class="sidebar d-flex flex-column shadow" [class.collapsed]="iscolllaped">
  
  <div class="sidebar-top p-3">
    <div class="toggle-btn-container mb-3" [class.text-center]="iscolllaped" [class.text-end]="!iscolllaped">
      <button class="btn text-white p-0 border-0" (click)="toggleSidebar()">
        <i class="bi bi-list fs-3"></i>
      </button>
    </div>
    <div class="sidebar-header mb-4 text-center" *ngIf="!iscolllaped">
      <h6 class="text-white fw-bold border-bottom pb-3 opacity-75">ADMIN PANEL</h6>
    </div>
  </div>

  
  <div class="sidebar-menu flex-grow-1 px-2">
   <ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a routerLink="/admin" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link text-white">
      <i class="bi bi-box-seam me-2"></i> 
      <span *ngIf="!iscolllaped">Inventory</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/admin/user-settings" routerLinkActive="active" class="nav-link text-white">
      <i class="bi bi-gear me-2"></i> 
      <span *ngIf="!iscolllaped">User Settings</span>
    </a>
  </li>
    <li class="nav-item">
    <a routerLink="/admin/chart" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link text-white">
     <i class="bi bi-graph-up-arrow me-2"></i> 
      <span *ngIf="!iscolllaped">Sales</span>
    </a>
  </li>
    <li class="nav-item">
    <a routerLink="/admin/bulkupload" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link text-white">
     <i class="bi bi-cloud-arrow-up-fill me-2"></i>
      <span *ngIf="!iscolllaped">Bulkupload</span>
    </a>
  </li>
</ul>
  </div>

  <div class="sidebar-footer p-3 border-top border-secondary">
    <a (click)="onLogout()" class="nav-link text-danger d-flex align-items-center py-2" style="cursor: pointer;">
      <i class="bi bi-box-arrow-right fs-5" [class.me-3]="!iscolllaped"></i> 
      <span *ngIf="!iscolllaped">Logout</span>
    </a>
  </div>
</div>